/* DARK BLUE = #061826 */

body{
  background-color: #404040;
  margin: 0px;
  font-family: Verdana; sans-serif;
  overflow-x: hidden;
}

.header {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
  width: 70%;
  background-color: #707070;
  padding: 20px 10px;
  padding-right: 0px;
  border-radius: 20px;
  position: absolute;
  text-align: center;
}

.logo {
  float: left;
  color: #74cbd0;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  will-change: transform, opacity;
  transition: transform 250ms ease-in, opacity 250ms ease-in;
  font-size: 25px;
  font-weight: bold;
}

.imageBody {
  float: left;
  width: 40%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.bodyBody {
  width: 60%;
  height: 100%;
  float: right;
  background-color: #404040;
  font-size: 22px;
  color: white;
}

.bodyBody h1 {
  position: relative;
  top: 50%;
  left: 5%;
  color: #74cbd0;
  font-size: 28px;
  margin: 10px;
}

.bodyBody p {
  position: relative;
  top: 50%;
  left: 5%;
  font-size: 14px;
  width: 40%;
  margin: 10px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

/* Change the background color on mouse-over */
.logo:hover {
  transform: translateX(20px);
  opacity: 0;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.dropdown {
  float: right;
  margin: 0px;
  z-index: 2;
}

.drop-button {
  float: right;
  width: 100px;
  transition: width 1s;
  height: 50px;
  border-radius: 10px 0px 0px 10px;
  background-color: #74cbd0;
  padding-right: 16px;
  color: #707070;
  line-height: 50px;
  border: none;
  font-size: 18px;
  text-align: right;
  margin: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #74cbd0;
  min-width: 200px;
  border-radius: 10px;
  transform-origin: 0 0;
}

.dropdown-content a {
  color: black;
  float: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #707070;
  font-size: 18px;
}

.dropdown-content a:hover {background-color: #c78834;}

/* display hidden elements on hover */
.dropdown:hover .dropdown-content {
  display: block;
  animation: growDown 600ms ease-in;
}

@keyframes growDown {
    0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

/* change width of project button on hover */
.dropdown:hover .drop-button {
  width: 300px;
}

/* round proper edges of top button */
.topProjButton {
  border-radius: 10px 0px 0px 0px;
}
/* round proper edges of bottom button */
.botProjButton {
  border-radius: 0px 0px 10px 10px;
}