<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Spencer Clapes</title>
		<link type="text/css" rel="stylesheet" href="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\style\styles.css">
	</head>
	<body>
		<img class="imageBody" src="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\img\SpenceTatoColorful.png">
		<div class="header">
			<a href="http://www.spencerclapes.com" class="logo">Spencer Clapes</a>
			<div class="dropdown" style="float: right;">
				<button class="drop-button">Projects</button>
				<div class="dropdown-content">
					<a href="#" class="topProjButton">Project 1</a>
					<a href="#" class="botProjButton">Project 2</a>
				</div>
			</div>
		</div>
		<div class="bodyBody">
			<h1>Developer and Digital Marketer</h1>
			<p>Hey! I'm an ATLien looking for development or digital marketing work either in the Atlanta area or remote. Take a look at my resume along with a handful of projects I have made!</p>
		</div>
		<div class="sideBar">
			<div class="buttonHold">
				<button class="resumeButts">A</button>
				<button class="resumeButts">B</button>
				<button class="resumeButts">C</button>
				<button class="resumeButts">D</button>
			</div>
		</div>
	</body>
</html>
