<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Spencer Clapes</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
	</head>
	<body>
		<img class="imageBody" src="{{ url_for('static', filename='img/SpenceTatoColorful.png') }}">
		<div class="header">
			<a href="http://www.spencerclapes.com" class="logo">Spencer Clapes</a>
			<div class="dropdown" style="float: right;">
				<button class="drop-button">Projects</button>
				<div class="dropdown-content">
					<a href="#" class="topProjButton">Project 1</a>
					<a href="#" class="botProjButton">Project 2</a>
				</div>
			</div>
		</div>
		<div class="bodyBody">
			<h1>Developer and Digital Marketer</h1>
			<p>Hey! I'm Spencer and that's Tato. I am looking for work in the Atlanta area or remote in the development or digital marketing space. Take a look at my resume along with a handful of projects I have made!</p>
			<div class="bottomBar">
				<button class="resumeButts">About Me</button>
				<button class="resumeButts">Work History</button>
				<button class="resumeButts">Skills</button>
				<button class="resumeButts">Education</button>
			</div>
		</div>
		<div class="sideBar">
			<div class="buttonHold">
				<button class="resumeButts"><img class="logoBugs" src="{{ url_for('static', filename='img/linkedInLogo.png') }}"></button>
				<button class="resumeButts"><img class="logoBugs" src="{{ url_for('static', filename='img/githubLogo.png') }}"></button>
				<button class="resumeButts"><img class="logoBugs" src="{{ url_for('static', filename='img/downloadLogo.png') }}"></button>
			</div>
		</div>
	</body>
</html>
