<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Spencer Clapes</title>
		<link type="text/css" rel="stylesheet" href="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\style\styles.css">
		<script src="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\script\indexScript.js"></script>
	</head>
	<body>
		<img class="imageBody" src="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\img\SpenceTatoColorful.png">
		<div class="header">
			<a href="#" class="logo"><img class="logoImg" src="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\img\SpencerLogo.png">Spencer Clapes</a>
			<div class="dropdown" style="float: right;">
				<button class="drop-button">Projects</button>
				<div class="dropdown-content">
					<a href="#" class="topProjButton">Project 1</a>
					<a href="#" class="botProjButton">Project 2</a>
				</div>
			</div>
		</div>
		<div class="bodyBody">
			<div class="aboutBody" id="aboutBody">
				<h1>Developer and Digital Marketer</h1>
				<p>Hey! I'm an ATLien looking for development or digital marketing work either in the Atlanta area or remote. Take a look at my resume along with a handful of projects I have made!</p>
			</div>
			<div class="workBody" id="workBody">
				<h1>Here is my work history</h1>
				<p>its all in here baby</p>
			</div>
			<div class="skillsBody" display="none" id="skillsBody">
				<h1>I have a lot of skills tbh</h1>
				<p>nunchuck skills, bow hunting skills, computer hacking skills</p>
			</div>
			<div class="edBody" display="none" id="edBody">
				<h1>I went to SMU</h1>
				<p>I had a good time there and made friends and drank beer and stuff</p>
			</div>
			<div class="bottomBar">
				<button class="resumeButts" id="aboutBut">About Me</button>
				<button class="resumeButts" id="workBut">Work History</button>
				<button class="resumeButts" id="skillsBut">Skills</button>
				<button class="resumeButts" id="edBut">Education</button>
			</div>
		</div>
		<div class="sideBar">
			<div class="buttonHold">
				<button class="logoButts" onclick="window.open('https://www.linkedin.com/in/spencer-clapes-155196103/','_blank')"><img class="logoBugs" src="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\img\linkedInLogo.png"></button>
				<button class="logoButts" onclick="window.open('https://github.com/TopSpankyyy','_blank')"><img class="logoBugs" src="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\img\githubLogo.png"></button>
				<button class="logoButts"><img class="logoBugs" src="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\img\downloadLogo.png"></button>
			</div>
		</div>
	</body>
</html>
