<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Spencer Clapes</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
	</head>
	<body>
		<div class="header">
			<a href="http://www.spencerclapes.com" class="logo">Spencer Clapes</a>
			<div class="header-right">
				<button>Projects</button>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="bodyBody">
			<p>This is sample content to take up a whole lot of space. <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>Now thats what I call music 1023</p>
		</div>
		<div class="footer">
			<p>Contact Me!</p>
		</div>
	</body>
</html>
