<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Spencer Clapes</title>
		<link type="text/css" rel="stylesheet" href="C:\Users\Spencer Clapes\Documents\SpencerWebsite\spencer-website\static\style\styles.css">
	</head>
	<body>
		<div class="imageBody">This will be replaced with an image real soon besties :)<br><br><br><br><br><br><br>yessirree</div>
		<div class="header">
			<a href="http://www.spencerclapes.com" class="logo">Spencer Clapes</a>
			<div class="dropdown" style="float: right;">
				<button class="drop-button">Projects</button>
				<div class="dropdown-content">
					<a href="#" class="topProjButton">Project 1</a>
					<a href="#" class="botProjButton">Project 2</a>
				</div>
			</div>
		</div>
		<div class="bodyBody">
			<p>This is sample content to take up a whole lot of space. <br><br><br><br><br><br><br><br><br><br><br><br><br><br>Now thats what I call music 1023</p>
		</div>
	</body>
</html>
